$background-color: #252a33;
$text-color: #eee;
$secondary-text-color: #c8c8c8;
$line-padding: 2px 0 2px 0;

[data-terminalui] {
  --prompt: '$';

  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  background: $background-color;
  color: $text-color;
  font-size: 18px;
  font-family: Menlo, Consolas, Monaco, 'Fira Mono', 'Courier New', Courier,
    monospace;
  border-radius: 4px;
  padding: 55px 35px 35px 35px;

  &::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 15px;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    background: #ff605c;
    box-shadow: 20px 0 0 #ffbd44, 40px 0 0 #00ca4e;
  }

  [data-terminalui-command] {
    padding: $line-padding;
    white-space: pre-wrap;

    &::before {
      content: var(--prompt);
      margin-right: 10px;
    }
  }

  [data-terminalui-output] {
    padding: $line-padding;
    color: $secondary-text-color;
    white-space: pre-wrap;
  }
}
